<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="firstService" name="firstService" class="ir.maktabsharif.spring.service.FirstService">
        <property name="name" value="mohsen"></property>
        <constructor-arg ref="secondService"></constructor-arg>
    </bean>

    <bean id="secondService" name="secondService" class="ir.maktabsharif.spring.service.SecondService">

    </bean>

</beans>